<!doctype html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title></title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}"/>
    <link rel="icon" type="image/x-icon" href="/angular/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<app-root></app-root>
<script src="/angular/runtime.js" defer></script>
<script src="/angular/polyfills.js" defer></script>
<script src="/angular/styles.js" defer></script>
<script src="/angular/vendor.js" defer></script>
<script src="/angular/main.js" defer></script>
</body>
</body>
</html>
