<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <button class="btn btn-sm page-link" (click)="increaseAndDecreasePagination('decrease')" [disabled]="current_page <= 1">
       <b>Trang trước</b>
      </button>
    </li>
    <li class="page-item">
      <button class="btn btn-sm page-link" (click)="increaseAndDecreasePagination('increase')"
              [disabled]="true">
        <b>Trang: <span class="white-space-nowrap">{{current_page}} / {{last_page}}</span></b>
      </button>
    </li>
    <li class="page-item">
      <button class="btn btn-sm page-link" (click)="increaseAndDecreasePagination('increase')"
              [disabled]="current_page >= last_page">
        <b>Trang sau</b>
      </button>
    </li>
  </ul>
</nav>
