<div id="wrapper">

  <app-link
    (changePassword)="clickChangePassword($event)">
  </app-link>

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown no-arrow" #dropdown>
            <a class="nav-link dropdown-toggle" (click)="clickDropdown()">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.name}}</span>
              <img class="img-profile rounded-circle"
                   [src]="user.image ? user.image : imageDefault"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" #dropdownMenu>
              <a class="dropdown-item" routerLink="profile">
                <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Thông tin tài khoản
              </a>
              <a class="dropdown-item" (click)="clickChangePassword()">
                <i class="fa fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                Đổi mật khẩu
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item cursor-pointer" (click)="clickLogOut()">
                <i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>
                Đăng xuất
              </a>
            </div>
          </li>
        </ul>
      </nav>

      <router-outlet></router-outlet>

    </div>
  </div>
</div>

<div *ngIf="changePassword" class="modal fade show" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Đổi mật khẩu</h5>
        <button type="button" class="close" (click)="close()">
          <span>&times;</span>
        </button>
      </div>
      <form [formGroup]="passwordForm" (ngSubmit)="save()">
        <div class="modal-body">
          <div class="form-group">
            <label for="old_password">Mật khẩu cũ <span class="text-danger">*</span></label>
            <input
              type="password"
              class="form-control"
              placeholder="Nhập mật khẩu cũ"
              maxlength="255"
              id="old_password"
              (keyup)="checkPassword($event, 'old_password')">
            <span *ngIf="checkOldPassword" class="text-danger">Mật khẩu cũ không đúng</span>
          </div>
          <div class="form-group">
            <label for="new_password">Mật khẩu mới <span class="text-danger">*</span></label>
            <input
              type="password"
              class="form-control"
              placeholder="Nhập mật khẩu mới"
              maxlength="255"
              id="new_password"
              formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && passwordFormControl.password.errors }">
            <span *ngIf="submitted && passwordFormControl.password.errors" class="text-danger">
              <span *ngIf="passwordFormControl.password.errors.required">Vui lòng nhập mật khẩu mới</span>
              <span *ngIf="passwordFormControl.password.errors.maxLength">Mật khẩu mới quá dài</span>
              <span *ngIf="passwordFormControl.password.errors.minLength">Mật khẩu mới quá dài</span>
             </span>
          </div>
          <div class="form-group">
            <label for="new_password_confirmation">Nhập lại mật khẩu mới <span class="text-danger">*</span></label>
            <input
              type="password"
              class="form-control"
              placeholder="Nhập lại mật khẩu mới"
              maxlength="255"
              id="new_password_confirmation"
              (keyup)="checkPassword($event, 'new_password_confirmation')"
              [ngClass]="{ 'is-invalid': checkNewPasswordConfirmation }">
            <span *ngIf="checkNewPasswordConfirmation" class="text-danger">Mật khẩu mới không khớp</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-info">Lưu</button>
          <button type="button" class="btn btn-outline-danger" (click)="close()">Đóng</button>
        </div>
      </form>
    </div>
  </div>
</div>
