.profile-img {
  text-align: center;
}

.profile-img img {
  width: 70%;
  height: 100%;
}

.profile-img .file {
  position: relative;
  overflow: hidden;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #000000;
}
