<div class="container-fluid">
  <h1 class="h3 my-5 text-center text-transform-uppercase"><b>Quản lý ảnh</b></h1>
  <div class="card shadow-lg mb-4">
    <div class="card-header py-3">
      <div class="white-space-nowrap white-space-unset float-right">
        <form class="form-inline" [formGroup]="searchForm">
          <div class="form-group">
            <label for="selectFolder">Chọn thư mục lưu ảnh</label>
            <select class="form-control mx-sm-2" id="selectFolder" formControlName="name" (change)="search()">
              <option value="categories">Danh mục</option>
              <option value="products">Sản phẩm</option>
              <option value="users">Tài khoản</option>
            </select>
          </div>
          <button type="button" class="m-0 font-weight-bold btn btn-outline-dark" (click)="load()">Tải lại trang
          </button>
        </form>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 mb-1" *ngFor="let item of images; let index = index">
          <div class="profile-img">
            <img
              [src]="item.image"
              alt=""/>
            <button *ngIf="item.deleted && !multiOrOne" class="file btn btn-lg btn-primary"
                    (click)="delete(item.image)">
              <b class="color-white">Xóa ảnh</b>
            </button>
            <button *ngIf="item.deleted && multiOrOne" class="file btn btn-lg btn-primary"
                    (click)="multiSelected(item, index)">
              <b
                [ngClass]="item.selected ? 'color-red' :' color-white'">{{item.selected ? 'Đã chọn' : 'Chọn ảnh'}}</b>
            </button>
          </div>
        </div>
      </div>
      <div class="scroll-to-top">
        <button (click)="clickMultiSelect()" class="btn btn-sm btn-info rounded">
          {{!multiOrOne ? 'Chọn nhiều ảnh' : 'Chọn một ảnh'}}
        </button>
        <br>
        <button *ngIf="multiOrOne" (click)="delete()" class="btn btn-sm btn-danger rounded">
          Xóa
        </button>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
</div>
