<div class="container-fluid">
  <h1 class="h3 my-5 text-center text-transform-uppercase"><b>Quản lý chất liệu</b></h1>
  <div class="card shadow-lg mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-5">
          <app-pagination
            [last_page]="pagination.last_page"
            [current_page]="pagination.current_page"
            (page)="page($event)">
          </app-pagination>
        </div>
        <div class="col-md-7 white-space-nowrap white-space-unset text-right">
          <button class="m-0 mb-2 font-weight-bold btn btn-sm btn-outline-primary" (click)="search()">Tìm kiếm</button>
          <button class="m-0 mb-2 ml-2 font-weight-bold btn btn-sm btn-outline-success" (click)="addAndEdit()">Thêm</button>
          <button class="m-0 mb-2 ml-2 font-weight-bold btn btn-sm btn-outline-dark" (click)="load()">Tải lại trang</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>Stt</th>
            <th>Tên</th>
            <th>Ngày tạo</th>
            <th class="width-action"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of materials; let index = index" [attr.data-index]="index">
            <th>{{index + 1}}</th>
            <td>{{item.name}}</td>
            <td>
              {{item.created_at | date:'HH:mm dd-MM-yyyy'}}
            </td>
            <td class="text-center white-space-nowrap width-action">
              <button class="btn btn-sm btn-outline-info" (click)="addAndEdit(item)">Sửa</button>
              <button class="btn btn-sm btn-outline-danger ml-1" (click)="delete(item.id)">Xóa</button>
            </td>
          </tr>
          <tr class="text-center">
            <th *ngIf="materials.length <= 0" colspan="4">Không có dữ liệu</th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
</div>

<div *ngIf="showAddEdit" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content scroll-modal">
      <div class="modal-header">
        <h5 class="modal-title">{{!addOrEdit ? 'Thêm chất liệu' : 'Sửa chất liệu'}}</h5>
        <button type="button" class="close" (click)="close()">
          <span>&times;</span>
        </button>
      </div>
      <form [formGroup]="materialForm" (ngSubmit)="save()">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Tên <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control"
              placeholder="Nhập tên chất liệu"
              formControlName="name"
              maxlength="255"
              id="name"
              [ngClass]="{ 'is-invalid': submitted && materialFormControl.name.errors }">
            <span *ngIf="submitted && materialFormControl.name.errors" class="text-danger">
                <span *ngIf="materialFormControl.name.errors.required">Vui lòng nhập tên chất liệu</span>
                <span *ngIf="materialFormControl.name.errors.maxLength">Tên chất liệu quá dài</span>
              </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-info">Lưu</button>
          <button type="button" class="btn btn-outline-danger" (click)="close()">Đóng</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="showSearch" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content scroll-modal">
      <div class="modal-header">
        <h5 class="modal-title">Tìm kiếm chất liệu</h5>
        <button type="button" class="close" (click)="close()">
          <span>&times;</span>
        </button>
      </div>
      <form [formGroup]="searchForm" (ngSubmit)="list()">
        <div class="modal-body">
          <div class="form-group">
            <label for="name_search">Tên</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nhập tên chất liệu"
              formControlName="name"
              maxlength="255"
              id="name_search">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-info">Tìm kiếm</button>
          <button type="button" class="btn btn-outline-danger" (click)="close()">Đóng</button>
        </div>
      </form>
    </div>
  </div>
</div>
