<div class="container-fluid">
  <h1 class="h3 my-5 text-center text-transform-uppercase"><b>Quản lý sản phẩm</b></h1>
  <div class="card shadow-lg mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-5">
          <app-pagination
            [last_page]="pagination.last_page"
            [current_page]="pagination.current_page"
            (page)="page($event)">
          </app-pagination>
        </div>
        <div class="col-md-7 white-space-nowrap white-space-unset text-right">
          <button class="m-0 mb-2 font-weight-bold btn btn-sm btn-outline-primary mr-2" (click)="search()">Tìm kiếm
          </button>
          <button class="m-0 mb-2 ml-2 font-weight-bold btn btn-sm btn-outline-success mr-2" (click)="addAndEdit()">Thêm
          </button>
          <button class="m-0 mb-2 ml-2 font-weight-bold btn btn-sm btn-outline-dark" (click)="load()">Tải lại trang</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Stt</th>
            <th>Tên</th>
            <th>Ngày tạo</th>
            <th class="width-action"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of products; let index = index" [attr.data-index]="index">
            <th>{{index + 1}}</th>
            <td>{{item.name}}</td>
            <td>
              {{item.created_at | date:'HH:mm dd-MM-yyyy'}}
            </td>
            <td class="text-center white-space-nowrap width-action">
              <button class="btn btn-sm btn-outline-secondary" (click)="detail(item.id)">Chi tiết</button>
              <button class="btn btn-sm btn-outline-info ml-1" (click)="addAndEdit(item.id)">Sửa</button>
              <button class="btn btn-sm btn-outline-danger ml-1" (click)="delete(item.id)">Xóa</button>
            </td>
          </tr>
          <tr class="text-center">
            <th *ngIf="products.length <= 0" colspan="5">Không có dữ liệu</th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
</div>

<div *ngIf="showSearch" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tìm kiếm sản phẩm</h5>
        <button type="button" class="close" (click)="close()">
          <span>&times;</span>
        </button>
      </div>
      <form [formGroup]="searchForm" (ngSubmit)="list()">
        <div class="modal-body">
          <div class="form-group">
            <label for="category_id_search">Danh mục sản phẩm</label>
            <select id="category_id_search" class="form-control" formControlName="category_id">
              <option disabled selected>Chọn danh mục sản phẩm</option>
              <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name_search">Tên</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nhập tên sản phẩm"
              formControlName="name"
              maxlength="255"
              id="name_search">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-info">Tìm kiếm</button>
          <button type="button" class="btn btn-outline-danger" (click)="close()">Đóng</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="showDetail" class="modal fade show" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content scroll-modal">
      <div class="modal-header">
        <h5 class="modal-title">Chi tiết sản phẩm</h5>
        <button type="button" class="close" (click)="close()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-sm table-bordered table-responsive-sm text-center">
          <thead>
          <tr>
            <th scope="col" colspan="8" class="background-color-thead">Thông tin sản phẩm</th>
          </tr>
          <tr>
            <th scope="col" class="width-action">Ảnh</th>
            <th scope="col">Tên</th>
            <th scope="col">Danh mục</th>
            <th scope="col">Chiều dài</th>
            <th scope="col">Chều rộng</th>
            <th scope="col">Chiều cao</th>
            <th scope="col">Cân nặng (Ước tính)</th>
            <th scope="col">Ngày tạo</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><img class="width-image-category" [src]="product.image ? product.image : ''" alt=""></td>
            <td>{{product.name}}</td>
            <td>{{product.categories ? (product.categories.name ? product.categories.name : '') : ''}}</td>
            <td class="text-right">{{product.length ? (product.length | number:'0.0-1') : 0}} <sup>Mét</sup></td>
            <td class="text-right">{{product.width ? (product.width | number:'0.0-1') : 0}} <sup>Mét</sup></td>
            <td class="text-right">{{product.height ? (product.height | number:'0.0-1') : 0}} <sup>Mét</sup></td>
            <td class="text-right">{{product.weight ? (product.weight | number:'0.0-1') : 0}} <sup>Kg</sup></td>
            <td>{{product.created_at ? (product.created_at | date:'HH:mm dd-MM-yyy') : ''}}</td>
          </tr>
          </tbody>
        </table>
        <table class="table table-hover table-sm table-bordered table-responsive-sm text-center">
          <thead>
          <tr>
            <th scope="col" colspan="8" class="background-color-thead">Thông tin chi tiết sản phẩm</th>
          </tr>
          <tr>
            <th scope="col">Stt</th>
            <th scope="col" class="width-action">Ảnh</th>
            <th scope="col">Chất liệu</th>
            <th scope="col">Màu sắc</th>
            <th scope="col">Giá tiền</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let optionProduct of optionProducts; let index = index">
            <th>{{index + 1}}</th>
            <td><img class="width-image-category" [src]="optionProduct.image ? optionProduct.image : ''" alt=""></td>
            <td>{{optionProduct.materials ? (optionProduct.materials.name ? optionProduct.materials.name : '') : ''}}</td>
            <td>{{optionProduct.colors ? (optionProduct.colors.name ? optionProduct.colors.name : '') : ''}}</td>
            <td class="text-right">{{optionProduct.price ? (optionProduct.price| number:'0.0-1') : 0}} <sup>Vnđ</sup>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="form-group inner-html">
          <div class="background-color-thead text-center text-content"><b>Mô tả</b></div>
          <div class="text-inner-html" [innerHTML]="product.content"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="close()">Đóng</button>
      </div>
    </div>
  </div>
</div>
