<div class="container emp-profile">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <img
          [src]="userForm.value.image ? userForm.value.image : imageDefault"
          alt=""/>
        <div *ngIf="showEdit" class="file btn btn-lg btn-primary" (change)="upImage($event)">
          <b class="color-black">Thay đổi ảnh</b>
          <input type="file" name="file"/>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="profile-head">
        <h5>{{user.name}}</h5>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active">Thông tin</a>
          </li>
        </ul>
        <div class="tab-content profile-tab">
          <div class="tab-pane fade show active" *ngIf="!showEdit">
            <div class="row">
              <div class="col-md-6">
                <label>Tên</label>
              </div>
              <div class="col-md-6">
                <p>{{user.name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{user.email}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Giới tính</label>
              </div>
              <div class="col-md-6">
                <p>{{user.gender === 0 ? 'Nam' : (user.gender === 1 ? 'Nữ' : 'Khác')}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Ngày sinh</label>
              </div>
              <div class="col-md-6">
                <p>{{user.birth ? (user.birth | date : 'dd-MM-yyyy') : '-- -- ----'}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Số điện thoại</label>
              </div>
              <div class="col-md-6">
                <p>{{user.phone ? user.phone : 'xxxx-xxx-xxx'}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Địa chỉ</label>
              </div>
              <div class="col-md-6">
                <p>{{user.address}}</p>
              </div>
            </div>
            <div class="row">
              <button class="profile-edit-btn" (click)="edit()">Sửa thông tin</button>
            </div>
          </div>
          <form [formGroup]="userForm" (ngSubmit)="save()" *ngIf="showEdit">
            <div class="tab-pane fade show active">
              <div class="row">
                <div class="col-md-6">
                  <label for="name">Tên <span class="text-danger">*</span></label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Nhập tên"
                      formControlName="name"
                      maxlength="255"
                      id="name"
                      [ngClass]="{ 'is-invalid': submitted && userFormControl.name.errors }">
                    <span *ngIf="submitted && userFormControl.name.errors" class="text-danger">
                      <span *ngIf="userFormControl.name.errors.required">Vui lòng nhập tên</span>
                      <span *ngIf="userFormControl.name.errors.maxLength">Tên quá dài</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="email">Email <span class="text-danger">*</span></label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Nhập email"
                      formControlName="email"
                      maxlength="255"
                      id="email"
                      [ngClass]="{ 'is-invalid': submitted && userFormControl.email.errors }">
                    <span *ngIf="submitted && userFormControl.email.errors" class="text-danger">
                      <span *ngIf="userFormControl.email.errors.required">Vui lòng nhập email</span>
                      <span *ngIf="userFormControl.email.errors.maxLength">Email quá dài</span>
                     </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="gender">Giới tính</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select id="gender" formControlName="gender" class="form-control">
                      <option [ngValue]="0">Nam</option>
                      <option [ngValue]="1">Nữ</option>
                      <option [ngValue]="2">Khác</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="birth">Ngày sinh</label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="date"
                      class="form-control"
                      formControlName="birth"
                      id="birth">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="phone">Số điện thoại <span class="text-danger">*</span></label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="phone"
                      id="phone"
                      [ngClass]="{ 'is-invalid': submitted && userFormControl.phone.errors }">
                    <span *ngIf="submitted && userFormControl.phone.errors" class="text-danger">
                      <span *ngIf="userFormControl.phone.errors.required">Vui lòng nhập số điện thoại</span>
                      <span *ngIf="userFormControl.phone.errors.maxLength">Số điện thoại quá dài</span>
                      <span *ngIf="userFormControl.phone.errors.pattern">Số điện thoại phải là số</span>
                      <span *ngIf="userFormControl.phone.errors.min">Số điện thoại không đúng định dạng</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="address">Địa chỉ <span class="text-danger">*</span></label>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Nhập địa chỉ"
                      formControlName="address"
                      maxlength="255"
                      id="address"
                      [ngClass]="{ 'is-invalid': submitted && userFormControl.address.errors }">
                    <span *ngIf="submitted && userFormControl.address.errors" class="text-danger">
                      <span *ngIf="userFormControl.address.errors.required">Vui lòng nhập địa chỉ</span>
                      <span *ngIf="userFormControl.address.errors.maxLength">Địa chỉ quá dài</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row text-center">
                <button class="btn btn-dark col-md-3" type="button" (click)="close()">Đóng</button>
                <button class="btn btn-outline-info col-md-3 ml-3" type="submit">Lưu</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
