<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">DOOR</div>
  </a>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Quản trị hệ thống
  </div>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="user">
      <i class="fa fa-fw fa-users"></i>
      <span>Người dùng</span></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="category">
      <i class="fa fa-fw fa-list-alt"></i>
      <span>Danh mục</span></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="product">
      <i class="fa fa-fw fa-product-hunt"></i>
      <span>Sản phẩm</span></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="material">
      <i class="fa fa-fw fa-crop"></i>
      <span>Chất liệu</span></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="color">
      <i class="fa fa-fw fa-barcode"></i>
      <span>Bảng màu</span></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="manage-image">
      <i class="fa fa-fw fa-picture-o"></i>
      <span>Hình ảnh</span></a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Quản trị người dùng
  </div>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="profile">
      <i class="fa fa-fw fa-user"></i>
      <span>Thông tin tài khoản</span></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" (click)="clickChangePassword()">
      <i class="fa fa-fw fa-key"></i>
      <span>Đổi mật khẩu</span></a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Quản trị giao diện
  </div>
</ul>
