<div class="container-fluid">
  <h1 class="h3 my-5 text-center text-transform-uppercase"><b>Quản lý tài khoản</b></h1>
  <div class="card shadow-lg mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-5">
          <app-pagination
            [last_page]="pagination.last_page"
            [current_page]="pagination.current_page"
            (page)="page($event)">
          </app-pagination>
        </div>
        <div class="col-md-7 white-space-nowrap white-space-unset text-right">
          <button class="m-0 mb-2 font-weight-bold btn btn-sm btn-outline-primary" (click)="search()">Tìm kiếm</button>
          <button class="m-0 mb-2 ml-2 font-weight-bold btn btn-sm btn-outline-success" (click)="addAndEdit()">Thêm</button>
          <button class="m-0 mb-2 ml-2 font-weight-bold btn btn-sm btn-outline-dark" (click)="load()">Tải lại trang</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr class="text-center">
            <th>Stt</th>
            <th>Tên</th>
            <th>Trạng thái</th>
            <th>Ngày tạo</th>
            <th class="width-action"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of users; let index = index" [attr.data-index]="index">
            <th>{{index + 1}}</th>
            <td>{{item.name}}</td>
            <td>
              <label class="label badge-pill"
                     [ngClass]="(item.status === 1 || item.status === 2) ? 'label-success' : 'label-danger'">
                {{(item.status === 1 || item.status === 2) ? 'Đang hoạt động' : 'Không hoạt động'}}
              </label>
            </td>
            <td>
              {{item.created_at | date:'HH:mm dd-MM-yyyy'}}
            </td>
            <td class="text-center white-space-nowrap width-action">
              <button class="btn btn-sm btn-outline-dark" (click)="detail(item)">Chi tiết
              </button>
              <span *ngIf="item.status !== 2">
                <button class="btn btn-sm btn-outline-info ml-1" (click)="addAndEdit(item)">Sửa
              </button>
              <button class="btn btn-sm btn-outline-danger ml-1" (click)="delete(item.id)">
                Xóa
              </button>
              </span>
            </td>
          </tr>
          <tr class="text-center">
            <th *ngIf="users.length <= 0" colspan="6">Không có dữ liệu</th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
</div>

<div *ngIf="showAddEdit" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content scroll-modal">
      <div class="modal-header">
        <h5 class="modal-title">{{!addOrEdit ? 'Thêm tài khoản' : 'Sửa tài khoản'}}</h5>
        <button type="button" class="close" (click)="close()">
          <span>&times;</span>
        </button>
      </div>
      <form [formGroup]="userForm" (ngSubmit)="save()">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Tên <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control"
              placeholder="Nhập tên tài khoản"
              formControlName="name"
              maxlength="255"
              id="name"
              [ngClass]="{ 'is-invalid': submitted && userFormControl.name.errors }">
            <span *ngIf="submitted && userFormControl.name.errors" class="text-danger">
                <span *ngIf="userFormControl.name.errors.required">Vui lòng nhập tên tài khoản</span>
                <span *ngIf="userFormControl.name.errors.maxLength">Tên tài khoản quá dài</span>
              </span>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="gender">Giới tính</label>
                <select id="gender" formControlName="gender" class="form-control">
                  <option [ngValue]="0">Nam</option>
                  <option [ngValue]="1">Nữ</option>
                  <option [ngValue]="2">Khác</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="birth">Ngày sinh</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="birth"
                  id="birth">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="phone">Số điện thoại <span class="text-danger">*</span></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="phone"
                  id="phone"
                  [ngClass]="{ 'is-invalid': submitted && userFormControl.phone.errors }">
                <span *ngIf="submitted && userFormControl.phone.errors" class="text-danger">
                  <span *ngIf="userFormControl.phone.errors.required">Vui lòng nhập số điện thoại</span>
                  <span *ngIf="userFormControl.phone.errors.maxLength">Số điện thoại quá dài</span>
                  <span *ngIf="userFormControl.phone.errors.pattern">Số điện thoại phải là số</span>
                  <span *ngIf="userFormControl.phone.errors.min">Số điện thoại không đúng định dạng</span>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="address">Địa chỉ <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control"
              placeholder="Nhập địa chỉ"
              formControlName="address"
              maxlength="255"
              id="address"
              [ngClass]="{ 'is-invalid': submitted && userFormControl.address.errors }">
            <span *ngIf="submitted && userFormControl.address.errors" class="text-danger">
                  <span *ngIf="userFormControl.address.errors.required">Vui lòng nhập địa chỉ</span>
                  <span *ngIf="userFormControl.address.errors.maxLength">Địa chỉ quá dài</span>
                </span>
          </div>
          <div class="form-group">
            <label for="email">Email <span class="text-danger">*</span></label>
            <input
              type="email"
              class="form-control"
              placeholder="Nhập email"
              formControlName="email"
              maxlength="255"
              (keyup)="checkEmail($event)"
              id="email"
              [ngClass]="{ 'is-invalid': (submitted && userFormControl.email.errors || validateEmail)}">
            <span *ngIf="submitted && userFormControl.email.errors" class="text-danger">
              <span *ngIf="userFormControl.email.errors.required">Vui lòng nhập email</span>
              <span *ngIf="userFormControl.email.errors.maxLength">Email quá dài</span>
             </span>
            <span class="text-danger" *ngIf="validateEmail">Email đã được sử dụng</span>
          </div>
          <div class="form-group" *ngIf="!addOrEdit" [ngClass]="{'display-none': addOrEdit}">
            <label for="password">Mật khẩu <span class="text-danger">*</span></label>
            <input
              type="password"
              class="form-control"
              placeholder="Nhập mật khẩu"
              formControlName="password"
              maxlength="255"
              minlength="6"
              id="password"
              [ngClass]="{ 'is-invalid': submitted && userFormControl.password.errors }">
            <span *ngIf="submitted && userFormControl.password.errors" class="text-danger">
              <span *ngIf="userFormControl.password.errors.required">Vui lòng nhập mật khẩu</span>
              <span *ngIf="userFormControl.password.errors.maxLength">Mật khẩu quá dài</span>
              <span *ngIf="userFormControl.password.errors.minLength">Mật khẩu quá dài</span>
             </span>
          </div>
          <div class="form-group" *ngIf="!addOrEdit" [ngClass]="{'display-none': addOrEdit}">
            <label for="password_confirmation">Nhập lại mật khẩu <span class="text-danger">*</span></label>
            <input
              type="password"
              class="form-control"
              placeholder="Nhập lại mật khẩu"
              maxlength="255"
              minlength="6"
              id="password_confirmation"
              (keyup)="checkPassword($event)"
              [ngClass]="{ 'is-invalid': validatePassword }">
            <span class="text-danger" *ngIf="validatePassword">Mật khẩu không khớp</span>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-info">Lưu</button>
          <button type="button" class="btn btn-outline-danger" (click)="close()">Đóng</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="showSearch" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tìm kiếm tài khoản</h5>
        <button type="button" class="close" (click)="close()">
          <span>&times;</span>
        </button>
      </div>
      <form [formGroup]="searchForm" (ngSubmit)="list()">
        <div class="modal-body">
          <div class="form-group">
            <label for="name_search">Tên</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nhập tên tài khoản"
              formControlName="name"
              maxlength="255"
              id="name_search">
          </div>
          <div class="form-group">
            <label for="email_search">Email</label>
            <input
              type="email"
              class="form-control"
              placeholder="Nhập email tài khoản"
              formControlName="email"
              maxlength="255"
              id="email_search">
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone_search">Số điện thoại</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nhập số điện thoại tài khoản"
                  formControlName="phone"
                  maxlength="255"
                  id="phone_search">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="status_search">Trạng thái</label>
                <select id="status_search" class="form-control" formControlName="status">
                  <option value="">Chọn trạng thái</option>
                  <option [ngValue]="1">Hoạt động</option>
                  <option [ngValue]="0">Không hoạt động</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-info">Tìm kiếm</button>
          <button type="button" class="btn btn-outline-danger" (click)="close()">Đóng</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="showDetail" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Chi tiết tài khoản</h5>
        <button type="button" class="close" (click)="close()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-sm table-bordered table-responsive-sm text-center">
          <thead>
          <tr>
            <th scope="col" class="width-action">Ảnh</th>
            <th scope="col">Tên</th>
            <th scope="col">Email</th>
            <th scope="col">Số điện thọại</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Ngày tạo</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><img class="width-image-category" [src]="user.image ? user.image : null" alt=""></td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.address}}</td>
            <td>{{user.birth | date:'dd-MM-yyy'}}</td>
            <td>{{user.gender === 0 ? 'Nam' : (user.gender === 1 ? 'Nữ' : 'Khác')}}</td>
            <td>{{user.created_at ? (user.created_at | date:'HH:mm dd-MM-yyy') : ''}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="close()">Đóng</button>
      </div>
    </div>
  </div>
</div>

