<div class="container-fluid px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div class="card card0 border-0">
    <div class="row d-flex">
      <div class="col-lg-6">
        <div class="card1 pb-5">
          <div class="row"><img src="/angular/assets//icon/door.jpg" class="logo"></div>
          <div class="row px-3 justify-content-center mt-4 mb-5 border-line"><img
            src="/angular/assets//icon/logo_login.png"
            class="image"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="card2 card border-0 px-4 py-5">
            <div class="row px-3 mb-3">
              <label class="mb-1" for="email">
                <h6 class="mb-0 text-sm">Email</h6>
              </label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder=" Nhập email"
                formControlName="email"
                maxlength="255"
                [ngClass]="{ 'is-invalid': submitted && loginFormControl.email.errors }">
              <span *ngIf="submitted && loginFormControl.email.errors" class="text-danger">
                <span *ngIf="loginFormControl.email.errors.required">Vui lòng nhập địa chỉ email</span>
                <span *ngIf="loginFormControl.email.errors.maxLength">Địa chỉ email quá dài</span>
              </span>
            </div>
            <div class="row px-3">
              <label class="mb-1" for="password">
                <h6 class="mb-0 text-sm">Mật khẩu</h6>
              </label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder=" Nhập mật khẩu"
                formControlName="password"
                maxlength="255"
                [ngClass]="{ 'is-invalid': submitted && loginFormControl.password.errors }">
              <span *ngIf="submitted && loginFormControl.password.errors" class="text-danger">
                <span *ngIf="loginFormControl.password.errors.required">Vui lòng nhập địa chỉ mật khẩu</span>
                <span *ngIf="loginFormControl.password.errors.maxLength">Mật khẩu quá dài</span>
                <span *ngIf="loginFormControl.password.errors.minLength">Mật khẩu quá ngắn</span>
              </span>
            </div>
            <div class="row px-3 mb-4">
              <div class="custom-control custom-checkbox custom-control-inline">
                <input id="remember_me" type="checkbox" name="chk" class="custom-control-input"
                       formControlName="remember_me">
                <label for="remember_me" class="custom-control-label text-sm">Giữ đăng nhập</label>
              </div>
              <a routerLink="/auth/forgot-password" class="ml-auto mb-0 text-sm">Quên mật khẩu?</a>
            </div>
            <div class="row mb-3 px-3">
              <button type="submit" class="btn btn-blue text-center">
                ĐĂNG NHẬP
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
</div>
