<div class="container-fluid px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div class="card card0 border-0">
    <div class="row d-flex">
      <div class="col-lg-6">
        <div class="card1 pb-5">
          <div class="row"><img src="/angular/assets//icon/door.jpg" class="logo"></div>
          <div class="row px-3 justify-content-center mt-4 mb-5 border-line"><img
            src="/angular/assets//icon/logo_login.png"
            class="image"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <form *ngIf="!forgotOrVerify" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
          <div class="card2 card border-0 px-4 py-5">
            <div class="row px-3 mb-3">
              <label class="mb-1" for="email">
                <h6 class="mb-0 text-sm">Email</h6>
              </label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder=" Nhập email"
                formControlName="email"
                maxlength="255"
                [ngClass]="{ 'is-invalid': submitted && forgotPasswordFormControl.email.errors }">
              <span *ngIf="submitted && forgotPasswordFormControl.email.errors" class="text-danger">
                <span *ngIf="forgotPasswordFormControl.email.errors.required">Vui lòng nhập địa chỉ email</span>
                <span *ngIf="forgotPasswordFormControl.email.errors.maxLength">Địa chỉ email quá dài</span>
              </span>
            </div>
            <div class="row mb-3 px-3">
              <button type="submit" class="btn btn-blue text-center">
                LẤY MẬT KHẨU
              </button>
            </div>
          </div>
        </form>
        <form *ngIf="forgotOrVerify" [formGroup]="forgotPasswordForm" (ngSubmit)="verifyPassword()">
          <div class="card2 card border-0 px-4 py-5">
            <div class="row px-3 mb-3">
              <label class="mb-1" for="verify_email">
                <h6 class="mb-0 text-sm">Email</h6>
              </label>
              <input
                type="email"
                id="verify_email"
                placeholder=" Nhập email"
                formControlName="email"
                maxlength="255"
                [ngClass]="{ 'is-invalid': submitted && forgotPasswordFormControl.email.errors }">
              <span *ngIf="submitted && forgotPasswordFormControl.email.errors" class="text-danger">
                <span *ngIf="forgotPasswordFormControl.email.errors.required">Vui lòng nhập địa chỉ email</span>
                <span *ngIf="forgotPasswordFormControl.email.errors.maxLength">Địa chỉ email quá dài</span>
              </span>
            </div>
            <div class="row px-3">
              <label class="mb-1" for="verify_token">
                <h6 class="mb-0 text-sm">Mã xác thực</h6>
              </label>
              <input
                type="text"
                id="verify_token"
                placeholder=" Nhập mã xác thực"
                formControlName="token"
                maxlength="255"
                [ngClass]="{ 'is-invalid': submitted && forgotPasswordFormControl.token.errors }">
              <span *ngIf="submitted && forgotPasswordFormControl.token.errors" class="text-danger">
                <span *ngIf="forgotPasswordFormControl.token.errors.required">Vui lòng nhập mã xác thực</span>
                <span *ngIf="forgotPasswordFormControl.token.errors.maxLength">Mã xác thực quá dài</span>
              </span>
              <span *ngIf="validateToken">Mã xác thực không hợp lệ</span>
            </div>
            <div class="row px-3">
              <label class="mb-1" for="verify_password">
                <h6 class="mb-0 text-sm">Mật khẩu</h6>
              </label>
              <input
                type="password"
                id="verify_password"
                placeholder=" Nhập mật khẩu"
                formControlName="password"
                maxlength="255"
                minlength="6"
                [ngClass]="{ 'is-invalid': submitted && forgotPasswordFormControl.password.errors }">
              <span *ngIf="submitted && forgotPasswordFormControl.password.errors" class="text-danger">
                <span *ngIf="forgotPasswordFormControl.password.errors.required">Vui lòng nhập địa chỉ mật khẩu</span>
                <span *ngIf="forgotPasswordFormControl.password.errors.maxLength">Mật khẩu quá dài</span>
                <span *ngIf="forgotPasswordFormControl.password.errors.minLength">Mật khẩu quá ngắn</span>
              </span>
            </div>
            <div class="row px-3">
              <label class="mb-1" for="verify_password_confirmation">
                <h6 class="mb-0 text-sm">Nhập lại mật khẩu</h6>
              </label>
              <input
                type="password"
                id="verify_password_confirmation"
                placeholder=" Nhập lại mật khẩu"
                maxlength="255"
                minlength="6"
                (keyup)="checkPassword($event)"
                [ngClass]="{ 'is-invalid': verifyPasswordConfirmation }">
              <span *ngIf="verifyPasswordConfirmation" class="text-danger">
                Mật khẩu không khớp
              </span>
            </div>
            <div class="row mb-3 px-3 mt-3">
              <button type="button" class="btn btn-outline-secondary text-center" (click)="prev()">
                Quay lại
              </button>
              <button type="submit" class="btn btn-blue text-center ml-2">
                LƯU
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <ngx-loading [show]="loading"></ngx-loading>
  </div>
</div>
