<div class="menu clicked"><span></span></div>
<nav id="nav" class="show">
  <ul class="main">
    <li><a target="_blank" href="https://www.facebook.com/ravi7284007">Hi There! Ravi</a></li>
    <li><a target="_blank" href="https://www.facebook.com/ravi7284007">About ME</a></li>
    <li><a href="#">Web Development</a></li>
    <li><a href="#">Digital Marketing</a></li>
    <li><a target="_blank" href="https://www.instagram.com/ravi_singh_7/">Portfolio</a></li>
    <li><a target="_blank" href="https://500px.com/ravi7284007">Contact</a></li>
  </ul>
</nav>
<div class="overlay"></div>


<!--<div class="wrapper">-->
<!--  <header>-->
<!--    <nav>-->
<!--      <div class="menu-icon">-->
<!--        <i class="fa fa-bars fa-2x"></i>-->
<!--      </div>-->
<!--      <div class="logo">-->
<!--        LOGO-->
<!--      </div>-->
<!--      <div class="menu">-->
<!--        <ul>-->
<!--          <li><a href="#">Home</a></li>-->
<!--          <li><a href="#">About</a></li>-->
<!--          <li><a href="#">Blog</a></li>-->
<!--          <li><a href="#">Contact</a></li>-->
<!--          <li><a href="#">Contact</a></li>-->
<!--          <li><a href="#">Contact</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </header>-->
<!--  <div class="content">-->
<!--    <p>-->
<!--      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.-->
<!--    </p>-->
<!--    <p>-->
<!--      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.-->
<!--    </p>-->
<!--  </div>-->
<!--</div>-->


<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark"
         style="height:100vh; background-size: cover; background-image: url(https://images.unsplash.com/photo-1525130413817-d45c1d127c42?ixlib=rb-0.3.5&s=c3d0603820b595592d80f5a239938c67&auto=format&fit=crop&w=1500&q=80);">

  <div class="container-fluid">
    <div class="row  justify-content-center align-items-center d-flex text-center h-100">
      <div class="col-12 col-md-8  h-50 ">
        <h1 class="display-2  text-light mb-2 mt-5"><strong>Align Center</strong></h1>
        <p class="lead  text-light mb-5">Sub-heading. Header 100% height with center align items</p>
        <p><a href="https://blueprintsapp.launchaco.com/"
              class="btn bg-danger shadow-lg btn-round text-light btn-lg btn-rised">Get More Templates Now ></a></p>

        <div class="btn-container-wrapper p-relative d-block  zindex-1">
          <a class="btn btn-link btn-lg   mt-md-3 mb-4 scroll align-self-center text-light"
             href="http://bootstraptor.com">
            <i class="fa fa-angle-down fa-4x text-light"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>


<div class="container">
  <div class="row pt-1 pb-1">
    <div class="col-lg-12">
      <h4 class="text-center">Carousel with Three input search</h4>
      <h6 class="text-center">awesome responsive image slider with search bar</h6>
    </div>
  </div>
</div>
<section>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://pbs.twimg.com/media/EGHYvttU4AAYKb7?format=jpg&name=large" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://pbs.twimg.com/media/EGHYvtkUcAAuc8T?format=jpg&name=large" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://pbs.twimg.com/media/EGHYvtjU0AAO8w1?format=jpg&name=large" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<section class="search-sec">
  <div class="container">
    <form action="#" method="post" novalidate="novalidate">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <input type="text" class="form-control search-slt" placeholder="Enter Pickup City">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <input type="text" class="form-control search-slt" placeholder="Enter Drop City">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <select class="form-control search-slt" id="exampleFormControlSelect1">
                <option>Select Vehicle</option>
                <option>Example one</option>
                <option>Example one</option>
                <option>Example one</option>
                <option>Example one</option>
                <option>Example one</option>
                <option>Example one</option>
              </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <button type="button" class="btn btn-danger wrn-btn">Search</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>


<div class="container">
  <h3 class="h3">shopping Demo-1 </h3>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="product-grid">
        <div class="product-image">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-1.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-2.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <span class="product-new-label">Sale</span>
          <span class="product-discount-label">20%</span>
        </div>
        <ul class="rating">
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
          <li class="fa fa-star disable"></li>
        </ul>
        <div class="product-content">
          <h3 class="title"><a href="#">Women's Blouse</a></h3>
          <div class="price">$16.00
            <span>$20.00</span>
          </div>
          <a class="add-to-cart" href="">+ Add To Cart</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid">
        <div class="product-image">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-3.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-4.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <span class="product-new-label">Sale</span>
          <span class="product-discount-label">50%</span>
        </div>
        <ul class="rating">
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
        </ul>
        <div class="product-content">
          <h3 class="title"><a href="#">Men's Plain Tshirt</a></h3>
          <div class="price">$5.00
            <span>$10.00</span>
          </div>
          <a class="add-to-cart" href="">+ Add To Cart</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid">
        <div class="product-image">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-5.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-6.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <span class="product-new-label">Sale</span>
          <span class="product-discount-label">50%</span>
        </div>
        <ul class="rating">
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
        </ul>
        <div class="product-content">
          <h3 class="title"><a href="#">Men's Plain Tshirt</a></h3>
          <div class="price">$5.00
            <span>$10.00</span>
          </div>
          <a class="add-to-cart" href="">+ Add To Cart</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid">
        <div class="product-image">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-7.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-8.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <span class="product-new-label">Sale</span>
          <span class="product-discount-label">50%</span>
        </div>
        <ul class="rating">
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
        </ul>
        <div class="product-content">
          <h3 class="title"><a href="#">Men's Plain Tshirt</a></h3>
          <div class="price">$5.00
            <span>$10.00</span>
          </div>
          <a class="add-to-cart" href="">+ Add To Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>


<div class="container">
  <h3 class="h3">shopping Demo-2 </h3>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="product-grid2">
        <div class="product-image2">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-1.jpeg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-2.jpeg">
          </a>
          <ul class="social">
            <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
            <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a class="add-to-cart" href="">Add to cart</a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Women's Designer Top</a></h3>
          <span class="price">$599.99</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid2">
        <div class="product-image2">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-3.jpeg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-4.jpeg">
          </a>
          <ul class="social">
            <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
            <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a class="add-to-cart" href="">Add to cart</a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Women's Yellow Top</a></h3>
          <span class="price">$699.99</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid2">
        <div class="product-image2">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-5.jpeg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-6.jpeg">
          </a>
          <ul class="social">
            <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
            <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a class="add-to-cart" href="">Add to cart</a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Women's Designer Top</a></h3>
          <span class="price">$599.99</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid2">
        <div class="product-image2">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-7.jpeg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-8.jpeg">
          </a>
          <ul class="social">
            <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
            <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a class="add-to-cart" href="">Add to cart</a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Women's Designer Top</a></h3>
          <span class="price">$599.99</span>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="container">
  <h3 class="h3">shopping Demo-3 </h3>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="product-grid3">
        <div class="product-image3">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo4/images/img-1.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo4/images/img-2.jpg">
          </a>
          <ul class="social">
            <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <span class="product-new-label">New</span>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Men's Blazer</a></h3>
          <div class="price">
            $63.50
            <span>$75.00</span>
          </div>
          <ul class="rating">
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star disable"></li>
            <li class="fa fa-star disable"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid3">
        <div class="product-image3">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo4/images/img-3.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo4/images/img-4.jpg">
          </a>
          <ul class="social">
            <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Women's Designer Top</a></h3>
          <div class="price">
            $43.50
          </div>
          <ul class="rating">
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid3">
        <div class="product-image3">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo4/images/img-5.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo4/images/img-6.jpg">
          </a>
          <ul class="social">
            <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <span class="product-new-label">New</span>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Men's Blazer</a></h3>
          <div class="price">
            $63.50
            <span>$75.00</span>
          </div>
          <ul class="rating">
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star disable"></li>
            <li class="fa fa-star disable"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid3">
        <div class="product-image3">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo4/images/img-7.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo4/images/img-8.jpg">
          </a>
          <ul class="social">
            <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <span class="product-new-label">New</span>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Men's Blazer</a></h3>
          <div class="price">
            $63.50
            <span>$75.00</span>
          </div>
          <ul class="rating">
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star disable"></li>
            <li class="fa fa-star disable"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="container">
  <h3 class="h3">shopping Demo-4 </h3>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="product-grid4">
        <div class="product-image4">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo5/images/img-1.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo5/images/img-2.jpg">
          </a>
          <ul class="social">
            <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
            <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <span class="product-new-label">New</span>
          <span class="product-discount-label">-10%</span>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Women's Black Top</a></h3>
          <div class="price">
            $14.40
            <span>$16.00</span>
          </div>
          <a class="add-to-cart" href="">ADD TO CART</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid4">
        <div class="product-image4">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo5/images/img-3.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo5/images/img-4.jpg">
          </a>
          <ul class="social">
            <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
            <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <span class="product-discount-label">-12%</span>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Men's Blue Shirt</a></h3>
          <div class="price">
            $17.60
            <span>$20.00</span>
          </div>
          <a class="add-to-cart" href="">ADD TO CART</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid4">
        <div class="product-image4">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo5/images/img-5.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo5/images/img-6.jpg">
          </a>
          <ul class="social">
            <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
            <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <span class="product-new-label">New</span>
          <span class="product-discount-label">-10%</span>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Women's Black Top</a></h3>
          <div class="price">
            $14.40
            <span>$16.00</span>
          </div>
          <a class="add-to-cart" href="">ADD TO CART</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid4">
        <div class="product-image4">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo5/images/img-7.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo5/images/img-8.jpg">
          </a>
          <ul class="social">
            <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
            <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <span class="product-new-label">New</span>
          <span class="product-discount-label">-10%</span>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Women's Black Top</a></h3>
          <div class="price">
            $14.40
            <span>$16.00</span>
          </div>
          <a class="add-to-cart" href="">ADD TO CART</a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="container">
  <h3 class="h3">shopping Demo-5 </h3>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="product-grid5">
        <div class="product-image5">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo11/images/img-1.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo11/images/img-2.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Men's Sweat Shirt</a></h3>
          <div class="price">$11.00 - $15.00</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid5">
        <div class="product-image5">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo11/images/img-3.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo11/images/img-4.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Women's Shirt</a></h3>
          <div class="price">$10.00 - $12.00</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid5">
        <div class="product-image5">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo11/images/img-5.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo11/images/img-6.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Men's Sweat Shirt</a></h3>
          <div class="price">$11.00 - $15.00</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid5">
        <div class="product-image5">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo11/images/img-7.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo11/images/img-8.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Men's Sweat Shirt</a></h3>
          <div class="price">$11.00 - $15.00</div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="container">
  <h3 class="h3">shopping Demo-6 </h3>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="product-grid6">
        <div class="product-image6">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-1.jpg">
          </a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Men's Shirt</a></h3>
          <div class="price">$11.00
            <span>$14.00</span>
          </div>
        </div>
        <ul class="social">
          <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
          <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid6">
        <div class="product-image6">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-2.jpg">
          </a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Women's Red Top</a></h3>
          <div class="price">$8.00
            <span>$12.00</span>
          </div>
        </div>
        <ul class="social">
          <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
          <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid6">
        <div class="product-image6">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-3.jpg">
          </a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Men's Shirt</a></h3>
          <div class="price">$11.00
            <span>$14.00</span>
          </div>
        </div>
        <ul class="social">
          <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
          <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid6">
        <div class="product-image6">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-4.jpg">
          </a>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Men's Shirt</a></h3>
          <div class="price">$11.00
            <span>$14.00</span>
          </div>
        </div>
        <ul class="social">
          <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
          <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="container">
  <h3 class="h3">shopping Demo-7 </h3>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="product-grid7">
        <div class="product-image7">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo8/images/img-1.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo8/images/img-2.jpg">
          </a>
          <ul class="social">
            <li><a href="" class="fa fa-search"></a></li>
            <li><a href="" class="fa fa-shopping-bag"></a></li>
            <li><a href="" class="fa fa-shopping-cart"></a></li>
          </ul>
          <span class="product-new-label">New</span>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Men's Blazer</a></h3>
          <ul class="rating">
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
          </ul>
          <div class="price">$15.00
            <span>$20.00</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid7">
        <div class="product-image7">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo8/images/img-3.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo8/images/img-4.jpg">
          </a>
          <ul class="social">
            <li><a href="" class="fa fa-search"></a></li>
            <li><a href="" class="fa fa-shopping-bag"></a></li>
            <li><a href="" class="fa fa-shopping-cart"></a></li>
          </ul>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Women's White Shirt</a></h3>
          <ul class="rating">
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
          </ul>
          <div class="price">$15.00</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid7">
        <div class="product-image7">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo8/images/img-5.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo8/images/img-6.jpg">
          </a>
          <ul class="social">
            <li><a href="" class="fa fa-search"></a></li>
            <li><a href="" class="fa fa-shopping-bag"></a></li>
            <li><a href="" class="fa fa-shopping-cart"></a></li>
          </ul>
          <span class="product-new-label">New</span>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Men's Blazer</a></h3>
          <ul class="rating">
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
          </ul>
          <div class="price">$15.00
            <span>$20.00</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid7">
        <div class="product-image7">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo8/images/img-7.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo8/images/img-8.jpg">
          </a>
          <ul class="social">
            <li><a href="" class="fa fa-search"></a></li>
            <li><a href="" class="fa fa-shopping-bag"></a></li>
            <li><a href="" class="fa fa-shopping-cart"></a></li>
          </ul>
          <span class="product-new-label">New</span>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">Men's Blazer</a></h3>
          <ul class="rating">
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
          </ul>
          <div class="price">$15.00
            <span>$20.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="container">
  <h3 class="h3">shopping Demo-8 </h3>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="product-grid8">
        <div class="product-image8">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo7/images/img-1.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo7/images/img-2.jpg">
          </a>
          <ul class="social">
            <li><a href="" class="fa fa-search"></a></li>
            <li><a href="" class="fa fa-shopping-bag"></a></li>
            <li><a href="" class="fa fa-shopping-cart"></a></li>
          </ul>
          <span class="product-discount-label">-20%</span>
        </div>
        <div class="product-content">
          <div class="price">£ 8.00
            <span>£ 10.00</span>
          </div>
          <span class="product-shipping">Free Shipping</span>
          <h3 class="title"><a href="#">Women's Plain Top</a></h3>
          <a class="all-deals" href="">See all deals <i class="fa fa-angle-right icon"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="product-grid8">
        <div class="product-image8">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo7/images/img-3.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo7/images/img-4.jpg">
          </a>
          <ul class="social">
            <li><a href="" class="fa fa-search"></a></li>
            <li><a href="" class="fa fa-shopping-bag"></a></li>
            <li><a href="" class="fa fa-shopping-cart"></a></li>
          </ul>
          <span class="product-discount-label">-30%</span>
        </div>
        <div class="product-content">
          <div class="price">£ 7.00
            <span>£ 10.00</span>
          </div>
          <span class="product-shipping">Free Shipping</span>
          <h3 class="title"><a href="#">Women's Designer Top</a></h3>
          <a class="all-deals" href="">See all deals <i class="fa fa-angle-right icon"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="product-grid8">
        <div class="product-image8">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo7/images/img-5.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo7/images/img-6.jpg">
          </a>
          <ul class="social">
            <li><a href="" class="fa fa-search"></a></li>
            <li><a href="" class="fa fa-shopping-bag"></a></li>
            <li><a href="" class="fa fa-shopping-cart"></a></li>
          </ul>
          <span class="product-discount-label">-20%</span>
        </div>
        <div class="product-content">
          <div class="price">£ 8.00
            <span>£ 10.00</span>
          </div>
          <span class="product-shipping">Free Shipping</span>
          <h3 class="title"><a href="#">Women's Plain Top</a></h3>
          <a class="all-deals" href="">See all deals <i class="fa fa-angle-right icon"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="container">
  <h3 class="h3">shopping Demo-9 </h3>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="product-grid9">
        <div class="product-image9">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo6/images/img-1.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo6/images/img-2.jpg">
          </a>
          <a href="#" class="fa fa-search product-full-view"></a>
        </div>
        <div class="product-content">
          <ul class="rating">
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
          </ul>
          <h3 class="title"><a href="#">Women's Top</a></h3>
          <div class="price"> $12.60 - $40.53</div>
          <a class="add-to-cart" href="">VIEW PRODUCTS</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid9">
        <div class="product-image9">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo6/images/img-3.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo6/images/img-4.jpg">
          </a>
          <a href="#" class="fa fa-search product-full-view"></a>
        </div>
        <div class="product-content">
          <ul class="rating">
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star disable"></li>
            <li class="fa fa-star disable"></li>
          </ul>
          <h3 class="title"><a href="#">Men's Shirt</a></h3>
          <div class="price"> $10.20</div>
          <a class="add-to-cart" href="">READ MORE</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid9">
        <div class="product-image9">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo6/images/img-5.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo6/images/img-6.jpg">
          </a>
          <a href="#" class="fa fa-search product-full-view"></a>
        </div>
        <div class="product-content">
          <ul class="rating">
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
          </ul>
          <h3 class="title"><a href="#">Women's Top</a></h3>
          <div class="price"> $12.60 - $40.53</div>
          <a class="add-to-cart" href="">VIEW PRODUCTS</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid9">
        <div class="product-image9">
          <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo6/images/img-7.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo6/images/img-8.jpg">
          </a>
          <a href="#" class="fa fa-search product-full-view"></a>
        </div>
        <div class="product-content">
          <ul class="rating">
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
          </ul>
          <h3 class="title"><a href="#">Women's Top</a></h3>
          <div class="price"> $12.60 - $40.53</div>
          <a class="add-to-cart" href="">VIEW PRODUCTS</a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
