@import "assets/scss/admin";

.is-invalid {
  border: 1px solid #ff0000 !important;
}

.modal {
  display: block !important;
}

.width-image-category {
  min-width: 50px !important;
  max-width: 30% !important;
}

.width-image-product {
  min-width: 100px !important;
  max-width: 30% !important;
}

.white-space-nowrap {
  white-space: nowrap !important;
}

@media only screen and (max-width: 600px) {
  .white-space-unset {
    white-space: unset !important;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-none {
  cursor: none !important;
}

.width-action {
  width: 55px !important;
}

.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
}

.btn-code {
  border: #000000 solid 1px !important;
}

.open {
  position: relative;
}

.drop-search {
  position: initial !important;
  width: 100% !important;
}

.dropbtn {
  width: 100%;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.input-search-dropdown {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 5% 5%;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
}

.input-search-dropdown:focus {
  outline: 3px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 999;
  max-height: 270px;
}

.dropdown-content p {
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  margin-bottom: unset !important;
  cursor: pointer;
}

.active-dropdown {
  background: #46c3c3;
}

.dropdown a:hover {
  background-color: #ddd;
}

.scroll-modal {
  max-height: 650px !important;
  min-height: 300px !important;
  overflow-y: auto !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.full-width {
  width: 100%;
}

.ck-editor__editable_inline {
  min-height: 200px;
}

.btn:disabled {
  color: #000000;
}

.scroll-content {
  width: 350px;
  height: 298px !important;
  overflow-y: scroll !important;
  display: block;
}

.color-black {
  color: #000000 !important;
}

.color-white {
  color: #ffffff !important;
}

.color-red {
  color: #d90006 !important;
}

.mt-4-5 {
  margin-top: 2rem !important;
}

.background-color-thead {
  background-color: #eff7f1 !important;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.inner-html {
  border: #dee2e6 solid 1px;
  border-radius: 5px;

  .text-content {
    padding: 0.3rem;
  }

  .text-inner-html {
    padding: 10px;

    img {
      width: 100% !important;
    }
  }
}
