<div class="container-fluid">
  <h1 class="h3 my-5 text-center text-transform-uppercase"><b>{{id ? 'Sửa sản phẩm' : 'Thêm sản phẩm'}}</b></h1>
  <div class="card shadow-lg mb-4">
    <div class="card-body">
      <form [formGroup]="productForm" (ngSubmit)="save()">
        <div class="form-group">
          <label for="image" class="full-width">
            <img
              [src]="productForm.value.image ? productForm.value.image : imageDefault"
              class="mx-auto d-block width-image-category"
              accept="image/*">
            <input class="display-none" type="file" id="image" (change)="upImage($event)">
          </label>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="name">Tên <span class="text-danger">*</span></label>
              <input
                type="text"
                class="form-control"
                placeholder="Nhập tên sản phẩm"
                formControlName="name"
                maxlength="255"
                id="name"
                [ngClass]="{ 'is-invalid': submitted && productFormControl.name.errors }">
              <span *ngIf="submitted && productFormControl.name.errors" class="text-danger">
                <span *ngIf="productFormControl.name.errors.required">Vui lòng nhập tên sản phẩm</span>
                <span *ngIf="productFormControl.name.errors.maxLength">Tên sản phẩm quá dài</span>
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="category_id">Danh mục sản phẩm <span class="text-danger">*</span></label>
              <div class="dropdown drop-search">
                <button class="btn btn-outline-dark dropdown-toggle dropbtn"
                        type="button"
                        data-toggle="dropdown"
                        id="category_id"
                        (click)="showDropdownMenuCategory()"
                        [ngClass]="{ 'is-invalid': submitted && productFormControl.category_id.errors }">
                  {{productForm.value.category_name ? productForm.value.category_name.name : 'Chọn danh mục sản phẩm'}}
                  <span class="caret"></span>
                </button>
                <div *ngIf="showDropDownCategory" class="dropdown-content show">
                  <input type="text"
                         placeholder="Tìm kiếm danh mục"
                         class="input-search-dropdown"
                         (keyup)="search('searchCategory', $event)">
                  <p *ngFor="let category of categories" (click)="selectCategory(category)"
                     [ngClass]="{'active-dropdown': category.id === productForm.value.category_id}">
                    {{category.name}}
                  </p>
                  <p class="cursor-none" *ngIf="categories.length <= 0">Không có kết quả tìm kiếm</p>
                </div>
              </div>
              <span *ngIf="submitted && productFormControl.category_id.errors" class="text-danger">
                <span *ngIf="productFormControl.category_id.errors.required">Vui lòng chọn danh mục sản phẩm</span>
              </span>
            </div>
          </div>
        </div>
        <div class="row" formArrayName="options"
             *ngFor="let option of productForm.get('options')['controls']; let i = index">
          <div class="col-md-2">
            <div class="form-group" [formGroupName]="i">
              <label for="imageOption{{i}}" class="full-width">
                <img
                  [src]="option.value.image ? option.value.image : imageDefault"
                  class="mx-auto d-block width-image-product"
                  accept="image/*">
                <input class="display-none" type="file" id="imageOption{{i}}"
                       (change)="upImage($event, i, true)">
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" [formGroupName]="i">
              <label for="optionColor{{i}}">Màu sắc sản phẩm <span class="text-danger">*</span></label>
              <select id="optionColor{{i}}" class="form-control"
                      formControlName="color_id"
                      [ngClass]="{ 'is-invalid': submitted && option.get('color_id').errors }">
                <option *ngFor="let color of colors" [ngValue]="color.id">{{color.name}}</option>
              </select>
              <span *ngIf="submitted && option.get('color_id').errors" class="text-danger">
                <span *ngIf="option.get('color_id').errors.required">Vui lòng chọn màu sắc sản phẩm</span>
              </span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" [formGroupName]="i">
              <label for="optionMaterial{{i}}">Chất liệu sản phẩm <span class="text-danger">*</span></label>
              <select id="optionMaterial{{i}}" class="form-control"
                      formControlName="material_id"
                      [ngClass]="{ 'is-invalid': submitted && option.get('material_id').errors }">
                <option *ngFor="let material of materials" [ngValue]="material.id">{{material.name}}</option>
              </select>
              <span *ngIf="submitted && option.get('material_id').errors" class="text-danger">
                <span *ngIf="option.get('material_id').errors.required">Vui lòng chọn chất liệu sản phẩm</span>
              </span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" [formGroupName]="i">
              <label for="optionPrice{{i}}">Giá tiền (vnđ) <span class="text-danger">*</span></label>
              <input
                type="text"
                class="form-control"
                placeholder="Nhập giá sản phẩm"
                [value]="option.value.priceFormat"
                maxlength="255"
                id="optionPrice{{i}}"
                (keyup)="formatNumber($event, i)"
                [ngClass]="{ 'is-invalid': submitted && option.get('price').errors }">
              <span *ngIf="submitted && option.get('price').errors" class="text-danger">
                  <span *ngIf="option.get('price').errors.required">Vui lòng nhập giá sản phẩm</span>
                  <span *ngIf="option.get('price').errors.maxLength">Giá sản phẩm quá dài</span>
                  <span *ngIf="option.get('price').errors.pattern">Giá sản phẩm phải là số</span>
                  <span *ngIf="option.get('price').errors.min">Giá sản phẩm không đúng định dạng</span>
                </span>
            </div>
          </div>
          <div class="col-md-1">
            <button *ngIf="i === 0" (click)="addOption()" type="button" class="btn btn-success mt-4-5 float-right"><i
              class="fa fa-plus"></i></button>
            <button *ngIf="i !== 0" (click)="deleteOption(i)" type="button" class="btn btn-danger mt-4-5 float-right"><i
              class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="length">Chiều dài (Mét)</label>
              <input
                type="number"
                class="form-control"
                placeholder="Nhập chiều dài sản phẩm"
                formControlName="length"
                maxlength="255"
                id="length">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="width">Chiều rộng (Mét)</label>
              <input
                type="number"
                class="form-control"
                placeholder="Nhập chiều rộng sản phẩm"
                formControlName="width"
                maxlength="255"
                id="width">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="height">Chiều cao (Mét)</label>
              <input
                type="number"
                class="form-control"
                placeholder="Nhập chiều cao sản phẩm"
                formControlName="height"
                maxlength="255"
                id="height">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="weight">Cân nặng (Ước tính / Kg)</label>
              <input
                type="number"
                class="form-control"
                placeholder="Nhập cân nặng ước tính sản phẩm"
                formControlName="weight"
                maxlength="255"
                id="weight">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="content">Mô tả <span class="text-danger">*</span></label>
          <ckeditor [editor]="Editor" formControlName="content" id="content"></ckeditor>
          <span *ngIf="submitted && productFormControl.content.errors" class="text-danger">
                <span *ngIf="productFormControl.content.errors.required">Vui lòng nhập mô tả sản phẩm</span>
              </span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-info">Lưu</button>
        </div>
      </form>
    </div>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
</div>
